<%- include('.\\' + '../../_layouts/adminheader'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Banner</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

   <!-- Main content -->
   <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                        <div class="card-header">
                        <a href="/admin/banner/create" class="btn btn-primary">Add Image</a>
                    </div>
                    <!-- /.card-header -->
                    <%if(all_banners){ var a=1;%>
                        <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%all_banners.forEach(function(item){ var image=item.image_path; var img_length=image.length; var img=image.slice(8, img_length); %>
                                <tr>
                                    <td><%=a%><%a++%></td>
                                    <td><%=item.banner_type%></td>
                                    <td><img src="<%=img%>" width="100" height="100"></td>
                                    <td>
                                        <a href="/admin/banner/Edit/<%=item.id%>" class="mr-2">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                       
                                        <a class="confirmDeletion" href="/admin/banner/delete/<%=item.id%>">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>

                                    </td>
                                </tr>
                                <%});%>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <%}%>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>


<%- include('.\\' + '../../_layouts/adminfooter'); %>