<%- include('../../_layouts/adminheader'); %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>BOOKING</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <%var array=[];%>

                                <a href="/admin/booking/index" class="btn btn-primary"> ALL Booking</a>
                                <a href="/admin/booking/ongoing" class="btn btn-primary"> ONGOING</a>
                                <a href="/booking/index/complete" onclick="complete()" class="btn btn-primary">
                                    COMPLETED</a>
                                <a href="/booking/index/cancel" class="btn btn-primary"> CANCELLED</a>
                        </div>
                        <!-- /.card-header --->
                        <%if(all_trips){ var a=1;%>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Pick Up</th>
                                            <th>Drop Off</th>
                                            <th>Vehicle Name</th>
                                            <th>Estimated Distance</th>
                                            <th>Estimated Time</th>
                                            <th>Trip Cost</th>
                                            <th>Loading Cost</th>
                                            <th>Unloading Cost</th>
                                            <th>Status</th>
                                            <th>Vendor Name</th>
                                            <th>Driver Name</th>
                                            <th>Customer Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <%all_trips.forEach(function(item){ %>
                                            
                                                <%if(state=='all'){%>

                                                    <td><%=a%><%a++%>
                                                    </td>
                                                    <td>
                                                        <%=item.pickup%>
                                                    </td>
                                                    <td>
                                                        <%=item.dropoff%>
                                                    </td>
                                                    <td>
                                                        <%=item.vehicle_name%>
                                                    </td>
                                                    <td>
                                                        <%=item.estimated_distance%>
                                                    </td>
                                                    <td>
                                                        <%=item.estimated_time%>
                                                    </td>
                                                    <td>
                                                        <%=item.total_cost%>
                                                    </td>

                                                    <td>
                                                        <%=item.loading_cost%>
                                                    </td>
                                                    <td>
                                                        <%=item.unloading_cost%>
                                                    </td>

                                                    <td>
                                                        <%=item.status%>
                                                    </td>
                                                    <%if(item.vendor==null){%>
                                                        <td></td>
                                                    <%}else{%>
                                                        <td>
                                                                <%=item.vendor.first_name%> <%=item.vendor.last_name%>
                                                        </td>
                                                    <%}%>
                                                     <%if(item.driver==null){%>
                                                        <td></td>
                                                <%}else{%>  
                                                    <td> <%=item.driver.first_name%> <%=item.driver.last_name%> </td>
                                                    <%}%>   
                                                </td>

                                                     <%if(item.customer==null){%>
                                                    <td></td>
                                                        
                                                    <%}else{%>
                                                    <td>
                                                    <%=item.customer.first_name%> <%=item.customer.last_name%>
                                                    </td>
                                                    <%}%>

                                                    <%}%>
                                                  

                                                <!----------start or ongoing trip-->
                                                    <%if(state=='start'){%>

                                                        <td><%=a%><%a++%>
                                                        </td>
                                                        <td>
                                                            <%=item.pickup%>
                                                        </td>
                                                        <td>
                                                            <%=item.dropoff%>
                                                        </td>
                                                        <td>
                                                            <%=item.vehicle_name%>
                                                        </td>
                                                        <td>
                                                            <%=item.estimated_distance%>
                                                        </td>
                                                        <td>
                                                            <%=item.estimated_time%>
                                                        </td>
                                                        <td>
                                                            <%=item.total_cost%>
                                                        </td>
                                                        <td>
                                                            <%=item.status%>
                                                        </td>
                                                        <%if(item.vendor==null){%>
                                                            <td></td>
                                                        <%}else{%>
                                                            <td>
                                                                    <%=item.vendor.first_name%> <%=item.vendor.last_name%>
                                                            </td>
                                                        <%}%>
                                                         <%if(item.driver==null){%>
                                                            <td></td>
                                                    <%}else{%>  
                                                        <td> <%=item.driver.first_name%> <%=item.driver.last_name%> </td>
                                                        <%}%>   
                                                    </td>
    
                                                         <%if(item.customer==null){%>
                                                        <td></td>
                                                            
                                                        <%}else{%>
                                                        <td>
                                                        <%=item.customer.first_name%> <%=item.customer.last_name%>
                                                        </td>
                                                        <%}%>
    
                                                        <%}%>
    
                                                <!----------complite trip-->
                                                        <%if(state=='end'){%>

                                                            <td><%=a%><%a++%>
                                                            </td>
                                                            <td>
                                                                <%=item.pickup%>
                                                            </td>
                                                            <td>
                                                                <%=item.dropoff%>
                                                            </td>
                                                            <td>
                                                                <%=item.vehicle_name%>
                                                            </td>
                                                            <td>
                                                                <%=item.estimated_distance%>
                                                            </td>
                                                            <td>
                                                                <%=item.estimated_time%>
                                                            </td>
                                                            <td>
                                                                <%=item.total_cost%>
                                                            </td>
                                                            <td>
                                                                <%=item.status%>
                                                            </td>
                                                            <%if(item.vendor==null){%>
                                                                <td></td>
                                                            <%}else{%>
                                                                <td>
                                                                        <%=item.vendor.first_name%> <%=item.vendor.last_name%>
                                                                </td>
                                                            <%}%>
                                                             <%if(item.driver==null){%>
                                                                <td></td>
                                                        <%}else{%>  
                                                            <td> <%=item.driver.first_name%> <%=item.driver.last_name%> </td>
                                                            <%}%>   
                                                        </td>
        
                                                             <%if(item.customer==null){%>
                                                            <td></td>
                                                                
                                                            <%}else{%>
                                                            <td>
                                                            <%=item.customer.first_name%> <%=item.customer.last_name%>
                                                            </td>
                                                            <%}%>
        
                                                            <%}%>
        
                                                                    
                                        </tr>
                                     
                                        <%})%>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                              
                                <script>


                                    function complete() {
                                        alert(all_trips);                                // if (a == 'spacific_driver') {
                                        //     $("#dvtext").css("display", "block");
                                        // } else if (a == 'All_drivers') {
                                        //     $("#dvtext").css("display", "none");
                                        // } else if (a == 'spacific_vendor') {
                                        //     $("#dvtext_vendor").css("display", "block");
                                        // } else if (a == 'All_vendors') {
                                        //     $("#dvtext_vendor").css("display", "none");
                                        // }
                                    }



                                </script>
                            </div>
                            <%}%>
                                <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <%- include('../../_layouts/adminfooter'); %>