<%- include('.\\' + '../../_layouts/adminheader'); %>

<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2>Add Vehicle</h2>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card ">
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" id="quickForm" method="post" action="/admin/vehicle/upload"
                            enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="">Type</label>
                                    <input type="text" name="type" placeholder="Enter Vehicle name" class="form-control"
                                        id="exampleInputEmail1" value="<%=type%>">
                                </div>
                                
                                <div class="form-group">
                                    <label for="">Service Charges</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs:</span>
                                      
                                    <input type="number" name="service_charges" placeholder="Enter Service Charges Price Vehicle" class="form-control"
                                        id="exampleInputEmail1" value="<%=service_charges%>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">Distance</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs: /Km</span>
                                     
                                    <input type="number" name="distance" placeholder="Enter Distance Price Rs: /Km " class="form-control"
                                        id="exampleInputEmail1" value="<%=distance%>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">Time</label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Rs: /min</span>
                                     
                                    <input type="number" name="time" placeholder="Enter Time Rs: /min" class="form-control"
                                        id="exampleInputEmail1" value="<%=time%>">
                                    </div>
                                </div>
                                <label for="exampleInputPassword1">Image</label>
                                <div class="form-group">
                                    <input type="file" class="form-control" name="myFile" id="img">
                                    <img src="#" id="imagePreview" alt="">
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        <script>


                            function readURL(input) {

                                for (var i = 0; i < input.files.length; i++) {
                                    if (input.files && input.files[i]) {
                                        var reader = new FileReader();
                                        reader.onload = function (e) {
                                            $("#imagePreview").attr('src', e.target.result).width(100).height(100);
                                        }
                                        reader.readAsDataURL(input.files[i]);
                                    }
                                }
                            }

                            $("#img").change(function () {
                                readURL(this);
                            });
                        </script>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('.\\' + '../../_layouts/adminfooter'); %>