<%- include('.\\' + '../../_layouts/adminheader'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Vehicles</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <a href="/admin/vehicle/create" class="btn btn-primary">Create Vehicle</a>
                    </div>
                    <!-- /.card-header -->
                    <%if(all_Vehicles){ %>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%all_Vehicles.forEach(function(item){ var image=item.image_path; var img_length=image.length; var img=image.slice(8, img_length); %>
                                <tr>
                                    <td><%=item.id%></td>
                                    <td><%=item.vehicle_type%></td>
                                    <td><img src="<%=img%>" width="100" height="100"></td>
                                    <td>
                                            <!-- <form enctype="multipart/form-data" action="/admin/banner/Edit" method="POST">
                                                <input type="hidden" name="id" value="<%=item.id%>">
                                                <input type="submit" value="Edit">
                                                </form> -->
                                        <a href="/admin/vehicle/Edit/<%=item.id%>" class="mr-2">
                                             <i class="fa fa-edit"></i>
                                         </a>
                                       
                                        <a class="confirmDeletion" href="/admin/vehicle/delete/<%=item.id%>">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>

                                    </td>
                                </tr>
                                <%});%>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <%}%>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });

    });
    function deleteRecord(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                document.getElementById('del_form' + id).submit();
            }
        })
    }
</script>
<%- include('.\\' + '../../_layouts/adminfooter'); %>