<%- include('../../_layouts/adminheader'); %>

<!-- Content Wrapper. Contains page content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Banner</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card ">
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" id="quickForm" method="post" action="/admin/promo/update">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Code</label>
                                    <input type="text" name="code" class="form-control" placeholder="Enter Code"
                                        value="<%=code%>">
                                </div>

                                <div class="form-group">
                                        <label for="exampleInputEmail1">Code</label>
                                        <input type="date" name="exp_date" class="form-control" placeholder="Enter Code"
                                            value="<%=exp_date%>">
                                    </div>


                                <div class="form-group">
                                    <label for="exampleInputEmail1">Type</label>
                                    <select name="type" class="form-control" id="exampleInputEmail1">
                                        <option value="<%=type%>"><%=type%></option>
                                        <option value="fixed">fixed</option>
                                        <option value="percentage">percentage</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Discount</label>
                                    <input type="number" name="discount" class="form-control" id="exampleInputEmail1"
                                        placeholder="Enter Discount" value="<%=discount%>">
                                </div>
                                <%if(publish=="on"){%>
                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="checkboxSuccess3" name="publish" checked>
                                    <label for="checkboxSuccess3">
                                        Publish
                                    </label>
                                </div>
                                <%}else{%>
                                <div class="icheck-success d-inline">
                                    <input type="checkbox" id="checkboxSuccess3" name="publish">
                                    <label for="checkboxSuccess3">
                                        Publish
                                    </label>
                                </div>
                                <%}%>
                            <input type="hidden" name="id" value="<%=id%>">
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('../../_layouts/adminfooter'); %>