<%- include('../../_layouts/adminheader'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Drivers</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <a href="/admin/active/drivers" class="btn btn-primary">Active Drivers</a>
                        <a href="/admin/register/drivers" class="btn btn-primary">Register Drivers</a>
                        <a href="/admin/unregister/drivers" class="btn btn-primary">Unregister Drivers</a>
                    </div>

                    <!-- /.card-header -->
                    <%if(all_driver){ var a =1;%>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Profile Image</th>
                                    <th>Acount Information</th>
                                    <th>Vehicle Information</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr> <%all_driver.forEach(function(item){  %>
                                    <%var image=item.profile; var img_length=image.length;  var img=image.slice(7, img_length);%>
                                    <td><%=a%><%a++%></td>
                                    <td><%=item.first_name%> <%=item.last_name%></td>
                                    <td><%=item.email%> </td>
                                    <td><%=item.phone_number%> </td>
                                    <td><img src="<%=img%>" width="100" height="100"></td>
                                    <%if(item.account_info=='block'){%>
                                    <td>
                                        <a href="/admin/driver/unblock/<%=item.id%>" class="mr-2">
                                            <button type="button" class="btn btn-success">UNBLOCK</button>
                                        </a>
                                    </td>
                                    <%}else{%>
                                        <td>
                                            <a href="/admin/driver/block/<%=item.id%>" class="mr-2">
                                                <button type="button" class="btn btn-danger">BLOCK</button>
                                            </a>
                                        </td>
                                    <%}%>
                                    <td>
                                        <a href="/driver/vehicles/<%=item.id%>" class="mr-2">
                                            <button type="button" class="btn btn-block btn-info">Information</button>
                                    </a>
                                     </td>

                                    <td>
                                       
                                        <a class="confirmDeletion" href="/admin/driver/delete/<%=item.id%>">
                                            <button type="button" class="btn btn-danger">DELETE</button>
                                        </a>

                                    </td>
                                </tr>
                                <%});%>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <%}%>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

<%- include('../../_layouts/adminfooter'); %>