<%- include('../../_layouts/adminheader' ); %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Information</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <!-- <div class="card-header">
                        <a href="/admin/vehicle/create" class="btn btn-primary">Create Vehicle</a>
                    </div> -->
                        <!-- /.card-header -->
                        <%if(one_drivers){ %>
                            <div class="card-body">
                                <caption>
                                    <h2> Driver Information</h2>
                                </caption>

                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Profile Image</th>
                                            <th>CNIC</th>
                                            <th>Driving License</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                        
                                                        <td><img src="<%=one_drivers.profile%>" width="200" height="100"></td>
                                                        <td><img src="<%=one_drivers.cnic%>" width="200" height="100"></td>
                                                        <td><img src="<%=one_drivers.driving_license%>" width="200" height="100"></td>

                                                        <td>
                                                            <a href="/driver/all_trips/<%=one_drivers.id%>"
                                                                class="mr-2">
                                                                <button type="button"
                                                                    class="btn btn-outline-primary">All Trips</button>
                                                            </a>

                                                            <%if(one_drivers.account_info=='block'){%>

                                                                <a href="/admin/driver/unblock/<%=one_drivers.id%>"
                                                                    class="mr-2">
                                                                    <button type="button"
                                                                        class="btn btn-success">UNBLOCK</button>
                                                                </a>

                                                                <%}else{%>

                                                                    <a href="/admin/driver/block/<%=one_drivers.id%>"
                                                                        class="mr-2">
                                                                        <button type="button"
                                                                            class="btn btn-danger">BLOCK</button>
                                                                    </a>

                                                                    <%}%>
                                                        </td>
                                        </tr>
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone Number</th>
                                                <th>Status</th>



                                            </tr>
                                        </thead>

                                        <tr>

                                            <td>
                                                <%=one_drivers.first_name%>
                                                    <%=one_drivers.last_name%>
                                            </td>
                                            <td>
                                                <%=one_drivers.email%>
                                            </td>
                                            <td>
                                                <%=one_drivers.phone_number%>
                                            </td>
                                            <td>
                                                <%=one_drivers.status%>
                                            </td>


                                        </tr>


                                    </tbody>
                                </table>



                                <%}%>
                                    <br> <br> <br>
                                    <%if(one_vehicle){ %>

                                        <caption>
                                            <h2> Vehicle Information</h2>
                                        </caption>
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Document</th>
                                                    <th>Frint Image</th>
                                                    <th>Back Image</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                    
                                                                <td><img src="<%=one_vehicle.vehicle_document%>" width="200" height="100"></td>
                                                                <td><img src="<%=one_vehicle.frint_image%>" width="200" height="100"></td>
                                                                <td><img src="<%=one_vehicle.back_image%>" width="200" height="100"></td>

                                                                <%if(one_vehicle.status=='unactive'){%>
                                                                    <td>
                                                                        <a href="/admin/driver/vehicle/active/<%=one_drivers.id%>"
                                                                            class="mr-2">
                                                                            <button type="button"
                                                                                class="btn btn-success">ACTIVE</button>
                                                                        </a>
                                                                    </td>
                                                                    <%}else{%>
                                                                        <td>
                                                                            <a href="/admin/driver/vehicle/unactive/<%=one_drivers.id%>"
                                                                                class="mr-2">
                                                                                <button type="button"
                                                                                    class="btn btn-danger">UNACTIVE</button>
                                                                            </a>
                                                                        </td>
                                                                        <%}%>
                                                </tr>


                                            </tbody>
                                        </table>

                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Vehicle Type</th>
                                                    <th>Brand</th>
                                                    <th>Model</th>
                                                    <th>Number Plate</th>
                                                    <th>Color</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>
                                                        <%=one_vehicle.vehicle_type%>
                                                    </td>
                                                    <td>
                                                        <%=one_vehicle.brand%>
                                                    </td>
                                                    <td>
                                                        <%=one_vehicle.model%>
                                                    </td>
                                                    <td>
                                                        <%=one_vehicle.number_plate%>
                                                    </td>
                                                    <td>
                                                        <%=one_vehicle.color%>
                                                    </td>



                                                </tr>


                                            </tbody>
                                        </table>
                                        <%}%>
                            </div>
                            <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <%- include('../../_layouts/adminfooter' ); %>