<%- include('.\\' + '../_layouts/usersheader'); %>
<h2 class="page-title">All Pages</h1>
  <a href="/users/add_page" class="btn btn-primary">Create Page</a>
  <br><br>
  <% if(pages!=null) { %>
  <table class="table table-striped sorting">
    <thead>
      <tr class="Home">
        <th>Page title</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% pages.forEach(function(item){ %>
      <tr id="id_<%= item._id %>" class="<%= item.page %>">
        <!-- used for sorting id   -->
        <td><%= item.page %></td>
       
    
        <td><a href="/users/edit_page/<%= item._id %>">Edit</a></td>
        <td><a class="confirmDeletion" href="/users/delete_page/<%= item._id%>">Delete</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } %>


  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>


  <script>
    $('tbody').sortable({
      placeholder: "ui-state-hightlight",
      update: function () {
        var ids = $('tbody').sortable('serialize');
        var url = '/users/reordernews';
        $.post(url, ids);
      }
    });
  </script

<%- include('.\\' + '../_layouts/usersfooter'); %>