<%- include('.\\' + '../../_layouts/adminheader' ); %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2>Create Notification</h2>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card ">
                        <!-- /.card-header -->
                        <!-- form start    /admin/faqs/upload   -->
                        <form role="form" id="quickForm" method="post" action="/admin/notification/send-to-all">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="email">Title</label>
                                    <input type="text" class="form-control" id="email" name="title" value="<%=title%>">
                                </div>
                                <label for="exampleInputPassword1">Disc</label>

                                <div class="form-group">

                                    <textarea class="form-control"  name="disc" id="disc" value="<%=disc%>">

                                        </textarea>
                                </div>


                                <div class="radio">
                                    <label><input type="radio" name="driver" value="All_drivers"
                                            onclick=" getDriver('All_drivers')">All Drivers</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="driver" id="chkYes" value="spacific_driver"
                                            onclick="getDriver('spacific_driver')">Spacific Driver</label>
                                </div>

                                <div id="dvtext" class="form-group" style="display: none">
                                    <label for="cars">Choose a Driver:</label>
                                    <select name="driver_fcm" class="form-control" id="exampleInputEmail1">
                                        <%if(all_drivers){%>
                                        <%all_drivers.forEach(function(driver){ %>
                                        <option value="<%=driver.fcm_token%>"><%=driver.first_name%>
                                            <%=driver.last_name%></option>
                                        <%});}%>
                                    </select>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="vendor" value="All_vendors"
                                            onclick="getDriver('All_vendors')">All Vendors</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="vendor" value="spacific_vendor"
                                            onclick="getDriver('spacific_vendor')">Spacific Vendor</label>
                                </div>
                                <div id="dvtext_vendor" class="form-group" style="display: none">
                                    <label for="cars">Choose a Vendor:</label>
                                    <select name="vendor_fcm" class="form-control">
                                        <%if(all_vendors){%>
                                        <%all_vendors.forEach(function(vendor){%>
                                        <option value="<%=vendor.fcm_token%>"><%=vendor.first_name%>
                                            <%=vendor.last_name%></option>
                                        <%});}%>
                                    </select>
                                </div>








                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                        <script>


                            function getDriver(a) {
                                if (a == 'spacific_driver') {
                                    $("#dvtext").css("display", "block");
                                } else if (a == 'All_drivers') {
                                    $("#dvtext").css("display", "none");
                                } else if (a == 'spacific_vendor') {
                                    $("#dvtext_vendor").css("display", "block");
                                } else if (a == 'All_vendors') {
                                    $("#dvtext_vendor").css("display", "none");
                                }
                            }



                        </script>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include('.\\' + '../../_layouts/adminfooter' ); %>